.AppUi {
  background-color: #faf6f1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", sans-serif;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
}

.bottomSection {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.kanban {
  flex: 1;
  overflow-y: hidden;
}

.memberStories {
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  z-index: 10;
}