.memberStories {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.divider {
  width: 50px;
  margin: 30px auto;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
}

.others {
  display: flex;
  flex-direction: column;
}

.memberStory {
  &:hover {
    cursor: pointer;
  }
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.blurred {
  opacity: 0.2;
}