.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 20px;

  &.red {
    background-color: rgb(217, 54, 81);
  }

  &.yellow {
    background-color: rgb(255, 159, 26);
  }

  &.gray {
    background-color: rgb(152, 170, 179);
  }

  &.blue {
    background-color: rgb(0, 170, 255);
  }

  &.green {
    background-color: rgb(71, 204, 138);
  }
}

.stories {
  flex: 1;
  margin-top: 4px;
  position: relative;
}

.noStory {
  align-items: center;
  color: #424242;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.noStoryTitle {
  font-size: 20px;
  font-weight: 600;
}

.instructions {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.story {
  margin-top: 2px;
  padding: 4px;
}

.placeholder {
  background-color: #424242;
  height: 0;
  transition: height 600ms ease-in-out;
}