.kanban {
  box-sizing: content-box;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  list-style: none;
  overflow-x: auto;
  width: 100%;
}

.column {
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 6px;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
  }
}