$border-width: 2px;

.story {
  border: $border-width solid transparent;
  box-sizing: border-box;
  display: flex;
  min-height: 30px;
  padding: 8px 10px;

  &.active {
    border: $border-width solid #2196f3;
    border-radius: 4px;
    cursor: pointer;

    .unassigned {
      opacity: 1;
    }
  }
}

.leftPane {
  flex: 1;
}

.title {
  color: #424242;
  font-weight: 600;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.titleTextField {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
  color: #424242;
  display: block;
  font-family: "Source Code Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  margin: 0;
  outline: none;
  overflow-x: hidden;
  padding: 0;
  resize: none;
  width: 100%;
}

.tags {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.actions {
  height: 100%;
  padding-left: 10px;
  width: 24px;
}

.avatar {
  opacity: 1;

  img {
    border-radius: 50%;
    display: block;
    height: 24px;
    width: 24px;
  }
}

.unassigned {
  opacity: 0;
}